<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Home</title>
</head>
<style>
  body{
    background-image: url("https://www.pngkey.com/png/full/68-682087_about-web-bay-technology-background-in-png.png ");
    margin-top: 250px;
    margin-left: 720px;
    font-size: large;
  }
  img{
    margin-left: 85px;
  }
  .container{
    background-color: #ffffff;
    border-radius: 30px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    padding: 30px;
    width: 400px;
  }
</style>
<body>
<div class="container">
  <img src="https://www.divum.in/images/logo/Divum_Logo%20shade.png"/>
  <h2>Welcome to Homepage</h2>
  <p sec:authorize="hasRole('ROLE_ANONYMOUS')">Text visible to anonymous.</p>
  <p sec:authorize="hasRole('USER')">Text visible to user.</p>
  <p sec:authorize="hasRole('ADMIN')">Text visible to admin.</p>
  <p sec:authorize="isAuthenticated()">Text visible only to authenticated users.</p>

  <div sec:authorize="hasRole('ROLE_ANONYMOUS')">
    <p><a th:href="@{|/login|}" th:text="'Log in'"></a></p>
    <p><a th:href="@{|/register|}" th:text="'Register'"></a></p>
  </div>

  <div sec:authorize="isAuthenticated()">
    <p>Logged as: <span sec:authentication="name"></span></p>
    <p>Has role: <span sec:authentication="authorities"></span></p>
    <p sec:authorize="hasAuthority('USER')"><a th:href="@{|/dashboard|}" th:text="'User Dashboard'"></a></p>
    <p sec:authorize="hasAuthority('ADMIN')"><a th:href="@{|/admin/dashboard|}" th:text="'Admin Dashboard'"></a></p>
    <a th:href="@{/logout}">Log out</a>
  </div>
</div>
</body>
</html>
